
<h2 id="important-info">Important Information</h2>

<ol>
    <li>Reservations during May 20 thru September 10 <span class="underline">may require</span> a 4 night minimum stay. <a href="tel:16054485498">Call</a> or <a href="mailto:info@RoyLakeResort.com">email</a> us for availability.</li>
    <li>All units <span class="underline">require</span> a <span class="underline strong">Non-Refundable</span> First-Night Deposit by:
        <ul>
            <li>cash (in person), </li>
            <li>check (mail or in person), </li>
            <li>or by credit card (Visa, MasterCard, Discover, American Express)</li>
        </ul>
    </li>
    <li>
        All units include Air Conditioning, Heater, Full Bath, Full Kitchen, Pots, Pans, Utensils &amp; Linens.
    </li>
    <li>
        You need to bring your own towels and soap for both bathing and cleaning the kitchen. If you forget, these items are available for purchase or for rent with a small cleaning fee in the main lodge.
    </li>
    <li>Check-In is 4pm</li>
    <li>Check-Out is 12pm</li>
    <li>Sleeper-sofas are provided in some of the cabins. These are best for young adults, teenagers, or kids.</li>
    <li>
        <span class="strong warning larger">Cancellation policy</span> - Remember <strong>all deposits are Non-Refundable</strong> however, if you make another reservation for the same year we can transfer that deposit to the new reservation/arrival date.
        <ul>
            <li>
                In addition to the Non-Refundable First-Night Deposit, we do have a <strong>30-Day Cancellation Policy</strong>- Any Reservation cancelled within 30-Days of your arrival date is <strong>responsible for the ENTIRE stay</strong> or nights/units <span class="strong underline italic">not</span> rebooked.  We will try to rebook your stay- any nights/units rebooked will no longer be your responsibility.
            </li>
            <li>We do have an excellent rebooking rate, but a rebooking is not guaranteed.</li>
            <li>Any reservation cancelled before the 30-Day notice will only be subject to forfeiting the already Non-Refundable First-Night Deposit.</li>
            <li><strong>The 30-Day CANCELLATION POLICY is only in effect for reservations with arrival dates from May 20th to September 30th.</strong>  The Non-Refundable First-Night Deposit is in effect year-round.</li>
        </ul>
    </li>
</ol>